/*
@theme gaia_for_me
@link https://github.com/marp-team/marp-core/blob/main/themes/gaia.scss
*/

@import "gaia";

section::after {
    font-weight: bold;
    content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
}
section.lead h1 {
    text-align: left;
}
section.lead p {
    text-align: right;
}
section.list-col-2 ul {
    column-count: 2;
}
section.list-col-3 ul {
    column-count: 3;
}
